<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>Employee Monitoring</title>
</head>

<body ng-app="mainApp">

    <div class="" id="main-col">
        <div id="main-view-wrapper">
            <ng-view></ng-view>
        </div>
    </div>


    <!-- Static Library -->
    <script src="../static/js/lib/angular.min.js"></script>
    <script src="../static/js/lib/angular-route.min.js"></script>
    <script src="../static/js/lib/angular-animate.min.js"></script>
    <script src="../static/js/lib/particles.min.js"></script>
    <script src="../static/js/app.js"></script>

    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/js/lib/bootstrap-datepicker.min.js "></script>
    <script src="../node_modules/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Controller -->
    <script src="../static/js/component/landing-page/LandingPage.js"></script>

    <!-- Services -->
    <script src="../static/js/services/FaceInformationService.js"></script>
    <script src="../static/js/services/LoginEmployeeService.js"></script>
    <script src="../static/js/services/LogoutEmployeeService.js"></script>
</body>


</html>